@import "_includes/reset.scss";
@import "_includes/variables.scss";
@import "_includes/mixins.scss";


* {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

body {
	font-family: 'Stalinist One', cursive;
	font-size: 30px;
}



// LE SELECTEUR
section {
	// LA PROPRIETE: LA VALEUR
	height: 100vh; // VIEWPORT HEIGHT
	width: 100vw; // VIEWPORT WIDTH
	// = section.red
	&.red {
		background-color: $primary-color;
		color: $secondary-color;
	}
	&.black {
		background-color: $secondary-color;
		color: $primary-color;
		position: relative;
	}

	.title {
		font-size: 2.5rem;
		padding: $margin;
		text-align: center;
	}

	.three-columns {
		align-items: center;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		text-align: center;

	.centered {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

		img {
			max-height: 60vh;
			&.petite {
				max-height: 50px;
			}
		}

		a {
			color: $primary-color;
			background-color: $primary-color;
		}

		.link {
			color: #FF0000;
		}
	}
	.galerie {

			position: absolute;
			text-align: center;
			color: white;
			max-width: 50vw;
			right: 0;
			bottom: 0;

			img {
				max-height: 30vh;
			}
	}
}
